.frameChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 85px;
}
.genomLogo {
    position: absolute;
    top: 5px;
    left: 0px;
}
.shoppingCartIcon {
    width: 16px;
    position: relative;
    height: 15.6px;
}
.cart {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 122.52%;
}
.b {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 122.52%;
    text-align: left;
}
.shoppingCartParent {
    position: absolute;
    top: 17px;
    left: 0px;
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #008877;
    width: 200px;
    height: 52px;
    }
.div {
    position: absolute;
    top: 13px;
    left: 19px;
    font-weight: 600;
    }
.rectangleGroup {
    position: absolute;
    top: 0px;
    left: 83px;
    width: 200px;
    height: 52px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'IBM Plex Sans';
}
.instanceParent {
    position: absolute;
    top: 0px;
    left: 929px;
    width: 283px;
    height: 52px;
    text-align: right;
    font-size: 14px;
    color: #08795f;
    font-family: Inter;
}
.genomLogoParent {
    position: absolute;
    top: 19px;
    left: 114px;
    width: 1212px;
    height: 52px;
}
.mapPinIcon {
    width: 15px;
    position: relative;
    height: 18px;
}
.div1 {
    position: relative;
    line-height: 130%;
}
.contact {
    position: absolute;
    top: 36px;
    left: 953px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 12px;
    color: #666;
    font-family: Poppins;
}
.rectangleParent {
    width: 100%;
    position: relative;
    height: 52px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'IBM Plex Sans';
    }
.b1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    white-space: pre-wrap;
    width: 180px;
    height: 21px;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 481px;
    font-weight: 600;
    display: inline-block;
    width: 53px;
    height: 21px;
}
.div4 {
    position: absolute;
    top: 0px;
    left: 219px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    height: 21px;
}
.div5 {
    position: absolute;
    top: 0px;
    left: 370px;
    font-weight: 600;
    display: inline-block;
    width: 72px;
    height: 21px;
}
.child {
    position: absolute;
    top: 24px;
    left: 0px;
    max-height: 100%;
    width: 180px;
}
.div2 {
    position: absolute;
    top: 33px;
    left: 359px;
    width: 534px;
    height: 24px;
    font-size: 20px;
    color: #08795f;
}
.groupItem {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, rgba(215, 235, 230, 0.67) 15.5%, rgba(229, 218, 141, 0.25) 57%, rgba(67, 196, 180, 0.3) 76.5%);
    width: 1440px;
    height: 103px;
}
.div6 {
    position: absolute;
    top: 0px;
    left: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 151px;
    height: 14px;
}
.groupIcon {
    position: absolute;
    height: 100%;
    width: 8%;
    top: 0%;
    right: 92%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.parent {
    position: absolute;
    top: 19px;
    left: 792px;
    width: 175px;
    height: 14px;
}
.groupInner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid rgba(186, 186, 186, 0.8);
    box-sizing: border-box;
    width: 760px;
    height: 52px;
}
.div7 {
    position: absolute;
    top: 16px;
    left: 20.62px;
    display: inline-block;
    width: 296.5px;
    height: 17px;
}
.groupDiv {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 758px;
    height: 50px;
}
.rectangleDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px 25px 25px 0px;
    background-color: #08795f;
    width: 66px;
    height: 52px;
}
.bisearchIcon {
    position: absolute;
    top: 15px;
    right: 22.51px;
    width: 21.4px;
    height: 21.4px;
    overflow: hidden;
    object-fit: contain;
}
.rectangleParent1 {
    position: absolute;
    top: 0px;
    left: 693px;
    width: 66px;
    height: 52px;
}
.groupContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 759px;
    height: 52px;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'IBM Plex Sans';
}
.groupParent {
    position: absolute;
    top: 25px;
    left: 359px;
    width: 967px;
    height: 52px;
}
.rectangleContainer {
    position: absolute;
    top: 87px;
    left: 0px;
    width: 1440px;
    height: 103px;
    color: #192120;
    font-family: Jost;
}
.groupChild1 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 28px 5px rgba(186, 186, 186, 0.25);
    border-radius: 25px;
    background-color: #fff;
    width: 1000px;
    height: 290px;
}
.sms {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 469px;
    height: 37px;
}
.groupChild2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border: 1px solid rgba(186, 186, 186, 0.5);
    box-sizing: border-box;
    width: 350px;
    height: 38px;
}
.div8 {
    position: absolute;
    top: 13px;
    left: 12.03px;
    display: flex;
    align-items: center;
    width: 301.9px;
    height: 11px;
    opacity: 0.65;
}
.sms1 {
    position: absolute;
    top: 41px;
    left: 234px;
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    width: 116px;
    height: 7px;
}
.rectangleParent3 {
    position: absolute;
    top: 77px;
    left: 0px;
    box-shadow: 0px 0px 5px rgba(186, 186, 186, 0.5);
    width: 350px;
    height: 48px;
    color: #666;
}
.groupChild3 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #08795f;
    width: 91px;
    height: 31px;
}
.div9 {
    position: absolute;
    top: 9px;
    left: 22px;
    line-height: 150%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 13px;
}
.rectangleParent4 {
    position: absolute;
    top: 145px;
    left: 0px;
    width: 91px;
    height: 31px;
    text-align: center;
    color: #fff;
}
.groupChild4 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #08795f;
    width: 14px;
    height: 14px;
}
.span {
    color: #08795f;
}
.div10 {
    position: absolute;
    top: 0px;
    left: 25px;
    display: inline-block;
    width: 399px;
    height: 14px;
}
.rectangleParent5 {
    position: absolute;
    top: 224px;
    left: 2px;
    width: 424px;
    height: 14px;
    font-family: Inter;
}
.smsParent {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 469px;
    height: 238px;
}
.div11 {
    position: absolute;
    top: 21px;
    left: 0px;
    line-height: 150%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 15.3px;
}
.sms2 {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 15px;
    line-height: 150%;
    font-weight: 500;
    color: #08795f;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 330.6px;
    height: 50px;
}
.group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350.6px;
    height: 50px;
}
.div12 {
    position: absolute;
    top: 55px;
    left: 21px;
    font-size: 13px;
    line-height: 150%;
    color: #666;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 330px;
}
.groupParent1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 351px;
    height: 124px;
}
.groupWrapper {
    position: absolute;
    top: 36px;
    left: 582px;
    width: 351px;
    height: 124px;
    font-size: 24px;
    color: #008877;
}
.rectangleParent2 {
    position: absolute;
    top: 297px;
    left: 220px;
    width: 1000px;
    height: 290px;
    font-size: 15px;
}
.groupChild5 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e4fff9;
    width: 1440px;
    height: 471px;
}
.div13 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    width: 115px;
    height: 25px;
}
.div14 {
    position: absolute;
    top: 64px;
    left: 0px;
    font-weight: 500;
}
.div15 {
    position: absolute;
    top: 91px;
    left: 0px;
    font-weight: 500;
}
.div16 {
    position: absolute;
    top: 118px;
    left: 0px;
    font-weight: 500;
}
.div17 {
    position: absolute;
    top: 145px;
    left: 0px;
    font-weight: 500;
}
.container {
    position: absolute;
    top: 100px;
    left: 342px;
    width: 227px;
    height: 166px;
}
.div18 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    width: 153px;
    height: 25px;
}
.parent1 {
    position: absolute;
    top: 100px;
    left: 707px;
    width: 153px;
    height: 166px;
}
.div23 {
    position: absolute;
    top: 9.74px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 138px;
    height: 25px;
}
.vectorIcon {
    position: absolute;
    height: 100%;
    width: 22.22%;
    top: 0%;
    right: 77.78%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.groupChild6 {
    position: absolute;
    height: 100%;
    width: 22.22%;
    top: 0%;
    right: 38.89%;
    bottom: 0%;
    left: 38.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon1 {
    position: absolute;
    height: 81.58%;
    width: 22.22%;
    top: 12.51%;
    right: 0%;
    bottom: 5.91%;
    left: 77.78%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorParent {
    position: absolute;
    height: 43.8%;
    width: 52.17%;
    top: 0%;
    right: 47.83%;
    bottom: 56.2%;
    left: 0%;
}
.parent2 {
    position: absolute;
    top: 90.26px;
    left: 114px;
    width: 138px;
    height: 34.7px;
    font-size: 24px;
    color: #08795f;
}
.div24 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 86px;
    height: 25px;
}
.rectangleIcon {
    position: absolute;
    top: 64px;
    left: 0px;
    border-radius: 10px;
    width: 366px;
    height: 160px;
    object-fit: cover;
}
.parent3 {
    position: absolute;
    top: 100px;
    left: 960px;
    width: 366px;
    height: 224px;
    font-size: 24px;
}
.groupChild7 {
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 100%;
    width: 1200.5px;
}
.div25 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 984px;
}
.wrapper {
    position: absolute;
    top: 25px;
    left: 108.5px;
    width: 984px;
    height: 20px;
}
.vectorGroup {
    position: absolute;
    top: 401px;
    left: 119.5px;
    width: 1200.5px;
    height: 45px;
    text-align: center;
    font-size: 15px;
}
.rectangleParent6 {
    position: absolute;
    top: 694px;
    left: 0px;
    width: 1440px;
    height: 471px;
}
.confirn {
    width: 100%;
    position: relative;
    background-color: #fafafa;
    height: 1165px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: 'IBM Plex Sans';
}

